<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{disabled: currentPage === 0}">
      <a class="page-link" (click)="currentPage = currentPage -1">Previous</a>
    </li>


    <ng-container *ngFor="let img of imgs; let i = index">
      <li class="page-item" [ngClass]="{active: i === currentPage}" *ngIf="checkPage(i)">
        <a href="#" (click)="currentPage = i" class="page-link">{{i+1}}</a>
      </li>
    </ng-container>


    <li class="page-item" [ngClass]="{disabled: currentPage === imgs.length - 1}">
      <a class="page-link" href="#" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<h1 class="display-2">
  {{imgs[currentPage].title}}
</h1>

<img [src]="imgs[currentPage].url" alt="" class="img-fluid">